* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

:root {
    font-size: clamp(40%, 1 + 2vw, 62.5%);

    --neutral-white: #fff;
    --base-white: #c4c4cc;
    --content-white: #e1e1e6;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url(../assets/mountain2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#app {
    align-items: start;
}

.potato {
    display: flex;
    align-items: start !important;
    justify-content: start;
    flex-direction: column;
    margin-top: -2rem;
    gap: .6rem;

    animation: down 1s ease-in-out;
}

p {
    display: inline-block;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    max-width: 48rem;
    color: var(--content-white);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--content-white);
}
